---
const { title, price, isbold = false, isfree = false } = Astro.props;
---

<div
	class={`flex justify-between items-center  ${isbold ? "font-semibold" : ""}`}
>
	<h3 class={` ${isbold ? "font-semibold text-black" : "text-gray-500"}`}>
		{title}:
	</h3>
	<span class="font-semibold">{isfree ? "Free" : `S/ ${price}`}</span>
</div>
