---
import Producto from "./Productos/Producto.astro";
---

<div class="flex flex-col gap-8">
	<div class="flex flex-col gap-4">
		<h2 class="font-semibold text-lg">Tu carrito</h2>
		<hr />
	</div>
	<div class="flex flex-col gap-4">
		<Producto />
		<Producto />
		<Producto />
		<Producto />
		<Producto />
	</div>
</div>
