---

---

<section
	class="w-full bg-bgCards sm:p-4 p-3 h-auto lg:h-[500px] flex justify-center items-center"
>
	<div
		class="sm:w-11/12 w-full mx-auto grid grid-cols-1 lg:grid-cols-2 max-w-7xl gap-10"
	>
		<div class="flex flex-col gap-6 justify-center lg:items-start items-center">
			<h1 class="text-fontHero font-bold sm:text-4xl text-2xl">
				¡Más comodidad para ti y tu familia!
			</h1>
			<p class="text-font">
				Con propiedades que evitan la propagación de virus, suave y delicado con
				la piel, corrige la postura al dormir y ayuda a reducirel dolor de
				espalda
			</p>
			<a
				href="#"
				class="bg-bgButton text-white py-2 px-4 rounded w-max flex items-center transition-all ease-in-out duration-200 hover:bg-bgButtonHover"
				>Comenzar <i class="bx bx-right-arrow-alt ml-1"></i></a
			>
		</div>
		<img
			src="/src/assets/img/item-4-wp.webp"
			alt=""
			class="w-full max-w-[450px] block mx-auto"
		/>
	</div>
</section>
