<div class="flex flex-col gap-4">
	<h2 class="text-lg font-semibold">Confort</h2>
	<div
		class="flex flex-col sm:flex-row gap-2 items-stretch sm:items-center text-sm text-fontProduct"
	>
		<a href="#" class="p-2 border-[1px] border-neutral-500 rounded-md">Suave</a>
		<a href="#">Intermedio</a>
		<a href="#">Firmes</a>
	</div>
</div>
