<div class="w-11/12 mx-auto mx-w-[500px] flex justify-center items-center">
	<div>
		<i
			class="bx bx-chevron-left text-[1.2rem] p-2 border-[1px] border-gray-200 rounded-tl-sm rounded-bl-sm"
		></i>
	</div>
	<div
		class="text-[1.2rem] border-l-0 border-[1px] border-gray-200 h-full px-3 flex items-center justify-center"
	>
		1
	</div>
	<div
		class="text-[1.2rem] border-l-0 border-[1px] border-gray-200 h-full px-3 flex items-center justify-center"
	>
		2
	</div>
	<div
		class="text-[1.2rem] border-l-0 border-[1px] border-gray-200 h-full px-3 flex items-center justify-center"
	>
		...
	</div>
	<div
		class="text-[1.2rem] border-l-0 border-[1px] border-gray-200 h-full px-3 flex items-center justify-center"
	>
		23
	</div>
	<div
		class="text-[1.2rem] border-l-0 border-r-0 border-[1px] border-gray-200 h-full px-3 flex items-center justify-center"
	>
		24
	</div>
	<div>
		<i
			class="bx bx-chevron-right text-[1.2rem] p-2 border-[1px] border-gray-200 rounded-tr-sm rounded-br-sm"
		></i>
	</div>
</div>

<style>
	div {
		font-size: 0.9rem;
		cursor: pointer;
		user-select: none;
	}
</style>
