<div class="w-full flex flex-col gap-8 items-center lg:items-start">
	<h2 class="text-2xl text-neutral-700">Pagos Aceptados</h2>
	<div class="flex gap-4">
		<i class="bx bxl-mastercard"></i>
		<i class="bx bxl-visa"></i>
	</div>
</div>
<style>
	i {
		font-size: 2rem;
		color: gray;
		&:hover {
			color: var(--bgButtonHover);
			transition: all ease-in-out 0.3s;
		}
	}
</style>
