<div class="w-full flex flex-col gap-10 items-center lg:items-start">
	<a href="/">
		<img
			src="/src/assets/img/logoRomantib-webp.webp"
			alt="Romantic logo"
			class="w-full max-w-[250px]"
		/>
	</a>
	<p class="text-sm text-gray-500 lg:text-left text-center">
		COLCHONES ROMANTIC, te da la bienvenida a su tienda online.
	</p>
	<div class="flex gap-4">
		<a href="#">
			<i class="bx bxl-github"></i>
		</a>
		<a href="#">
			<i class="bx bxl-instagram"></i>
		</a>
		<a href="#">
			<i class="bx bxl-youtube"></i>
		</a>
	</div>
</div>

<style>
	i {
		font-size: 1.7rem;
		color: gray;
		&:hover {
			color: var(--bgButtonHover);
			transition: all ease-in-out 0.3s;
		}
	}
</style>
