<section class="flex flex-col gap-6">
	<h2
		class="text-center text-fontHero text-[1.2rem] md:text-[1.8rem] font-bold"
	>
		Conoce cada detalle de tus productos favoritos y haz de tu dormitorio tu
		lugar favorito.
	</h2>
	<div class="h-[350px] xl:h-[600px]">
		<img
			src="./imgOverlay-webp.webp"
			alt=""
			class="h-full w-full object-fill lg:object-cover"
		/>
	</div>
</section>
