---
import Header from "../components/header/Header.jsx";
import Footer from "../components/footer/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Mattress-ico.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Header client:load />
		<main class="w-full flex flex-col gap-20">
			<slot />
		</main>
		<Footer />
		<style is:global>
			html {
				font-family: system-ui, sans-serif;
			}
			.burger-open {
				overflow: hidden;
			}
			:root {
				scroll-behavior: smooth;
			}
		</style>

		<script>
			//* Burger
			const burger = document.querySelector(".burger");

			burger?.addEventListener("change", () => {
				document.body.classList.toggle("burger-open");
			});
		</script>
	</body><!--* Globales -->
</html>
